body{
font-size: 10px;
font-family:System bold;
color:#252525;
line-height:20px; 

}

h1{
font-size: 18px;
font-family:System bold;
color:#252525;
}

h2{
font-size: 9px;
font-family:System bold;
color:#252525;
}